@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

.getting-started-card {
  width: 440px;
  height: 476px;
  left: 0px;
  top: 0px;
  border: 2px solid #4d4d4d;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 31px;
}

.getting-started-card:hover {
  border: 2px solid #ffffff;
}

html[data-theme='light'] .getting-started-card {
  border: 2px solid #e6e6e6;
}

.getting-started-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.doc-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-right: 81px;
  margin-bottom: 74px;
}

.doc-number {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #e6e6e6;
  margin-bottom: 122px;
}

html[data-theme='light'] .doc-number {
  color: #000000;
}

.doc-subtopic {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'DM Mono', monospace;
}

html[data-theme='light'] .doc-subtopic {
  color: #000000;
}

.tools-card {
  width: 440px;
  height: 215px;
  left: 0px;
  top: 337px;
  border: 2px solid #4d4d4d;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 31px;
}

.tools-card:hover {
  border: 2px solid #ffffff;
}

html[data-theme='light'] .tools-card {
  border: 2px solid #e6e6e6;
}

.tools-title {
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-right: 83px;
}

html[data-theme='light'] .tools-title {
  color: #000000;
}

.tools-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #b3b3b3;
}

html[data-theme='light'] .tools-paragraph {
  color: #4c4c4c;
}

.tools-title-flexbox {
  display: flex;
  flex-direction: row;
}

.tools-version {
  margin-top: 8px;
  font-family: 'DM Mono', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.projectCard {
  width: 323px;
  height: 162px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.12));
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0px 5px 15px 0px #0000001f;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (max-width: 1300px) {
  /* .doc-number {
    margin-bottom: 60px;
    font-size: 35px;
  }

  .doc-title {
    font-size: 28px;
    margin-right: 55px;
    margin-bottom: 74px;
  }

  .tools-title {
    font-size: 20px;
    margin-right: 28px;
  }

  .tools-version {
    font-size: 9px;
  }

  .tools-paragraph {
    font-size: 13px;
  }

  .tools-card {
    width: 290px;
    height: 215px;
    padding: 31px;
  }

  .projectCard {
    width: 280;
  } */
}
