@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

.getting-started-card {
  width: 440px;
  height: 476px;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: rgba(31, 31, 31, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.05);
}

.getting-started-card:hover {
  border: 2px solid #ffffff;
}

.getting-started-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.doc-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-right: 87px;
  margin-bottom: 64px;
}

.doc-number {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #e6e6e6;
  margin-bottom: 122px;
}

.doc-subtopic {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'DM Mono', monospace;
}

.tools-card {
  width: 440px;
  height: 215px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 30px;
  background: rgba(31, 31, 31, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.05);
}

.tools-card:hover {
  border: 2px solid #ffffff;
}

.tools-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-right: 86px;
}

.tools-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #b3b3b3;
}

.tools-title-flexbox {
  display: flex;
  flex-direction: row;
}

.tools-version {
  margin-top: 8px;
  font-family: 'DM Mono', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.projectCard {
  width: 323px;
  height: 162px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.12));
  border-radius: 20px;
}

.projectCard:hover {
  border: 2px solid #ffffff;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 27px;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1439px) {
  .getting-started-card {
    width: 352px;
    height: 381px;
    padding: 20px;
  }

  .getting-started-container {
    gap: 19px;
  }

  .doc-title {
    font-size: 28px;
    margin-right: 70px;
    margin-bottom: 51px;
    line-height: 40px;
  }

  .doc-number {
    font-size: 32px;
    margin-bottom: 98px;
    line-height: 40px;
  }

  .doc-subtopic {
    font-size: 16px;
    line-height: 24px;
  }

  .tools-card {
    width: 352px;
    height: 172px;
    padding: 20px;
    padding-top: 24px;
  }

  .tools-title {
    font-size: 24px;
    margin-bottom: 8px;
    margin-right: 68px;
    line-height: 32px;
  }

  .tools-paragraph {
    font-size: 14px;
    line-height: 24px;
  }

  .tools-version {
    margin-top: 6px;
    font-size: 11px;
    line-height: 19px;
  }

  .projectCard {
    width: 258px;
    height: 130px;
    border-radius: 16px;
  }

  .projectContainer {
    gap: 22px;
  }
}

@media only screen and (max-width: 1151px) {
  .getting-started-card {
    width: 282px;
    height: 305px;
    padding: 16px;
  }

  .getting-started-container {
    gap: 15px;
  }

  .doc-title {
    font-size: 22px;
    margin-right: 56px;
    margin-bottom: 41px;
    line-height: 32px;
  }

  .doc-number {
    font-size: 26px;
    margin-bottom: 78px;
    line-height: 32px;
  }

  .doc-subtopic {
    font-size: 13px;
    line-height: 19px;
  }

  .tools-card {
    width: 282px;
    height: 138px;
    padding: 16px;
    padding-top: 19px;
  }

  .tools-title {
    font-size: 19px;
    margin-bottom: 6px;
    margin-right: 55px;
    line-height: 26px;
  }

  .tools-paragraph {
    font-size: 11px;
    line-height: 19px;
  }

  .tools-version {
    margin-top: 5px;
    font-size: 8px;
    line-height: 15px;
  }

  .projectCard {
    width: 206px;
    height: 104px;
    border-radius: 13px;
  }

  .projectContainer {
    gap: 18px;
  }
}

/* Tablet */
@media only screen and (max-width: 1024px) {
  .getting-started-card {
    width: 301px;
    height: 219px;
    padding: 15px;
    border: 2px solid #4d4d4d;
  }

  .getting-started-container {
    gap: 30px;
  }

  .doc-title {
    font-size: 20px;
    margin-bottom: 8px;
    line-height: 30px;
    margin-right: 0px;
  }

  .doc-number {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 39px;
    line-height: 40px;
  }

  .doc-subtopic {
    font-size: 16px;
    line-height: 25px;
  }

  .tools-card {
    width: 301px;
    height: 139px;
    padding: 15px;
    padding-top: 20px;
    border: 2px solid #4d4d4d;
  }

  .tools-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 57px;
    line-height: 30px;
  }

  .tools-paragraph {
    font-size: 14px;
    line-height: 24px;
  }

  .tools-version {
    margin-top: 5px;
    font-size: 12px;
    line-height: 20px;
  }

  .projectCard {
    width: 220px;
    height: 110px;
    border-radius: 10px;
  }

  .projectContainer {
    gap: 29px;
  }
}

@media only screen and (max-width: 980px) {
  .getting-started-card {
    width: 241px;
    height: 175px;
    padding: 12px;
  }

  .getting-started-container {
    gap: 24px;
  }

  .doc-title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 6px;
  }

  .doc-number {
    font-size: 24px;
    margin-bottom: 31px;
    line-height: 32px;
  }

  .doc-subtopic {
    font-size: 13px;
    line-height: 20px;
  }

  .tools-card {
    width: 241px;
    height: 111px;
    padding: 13px;
    padding-top: 16px;
  }

  .tools-title {
    font-size: 16px;
    margin-bottom: 8px;
    margin-right: 42px;
    line-height: 24px;
  }

  .tools-paragraph {
    font-size: 11px;
    line-height: 19px;
  }

  .tools-version {
    margin-top: 4px;
    font-size: 10px;
    line-height: 8px;
  }

  .projectCard {
    width: 176px;
    height: 88px;
    border-radius: 8px;
  }

  .projectContainer {
    gap: 23px;
  }
}

@media only screen and (max-width: 800px) {
  .getting-started-card {
    width: 193px;
    height: 140px;
    padding: 10px;
  }

  .getting-started-container {
    gap: 19px;
  }

  .doc-title {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 5px;
  }

  .doc-number {
    font-size: 19px;
    margin-bottom: 25px;
    line-height: 26px;
  }

  .doc-subtopic {
    font-size: 10px;
    line-height: 16px;
  }

  .tools-card {
    width: 193px;
    height: 89px;
    padding: 10px;
    padding-top: 13px;
  }

  .tools-title {
    font-size: 13px;
    margin-bottom: 6px;
    margin-right: 32px;
    line-height: 19px;
  }

  .tools-paragraph {
    font-size: 9px;
    line-height: 15px;
  }

  .tools-version {
    margin-top: 6px;
    font-size: 8px;
    line-height: 6px;
  }

  .projectCard {
    width: 141px;
    height: 70px;
    border-radius: 6px;
  }

  .projectContainer {
    gap: 18px;
  }
}

@media only screen and (max-width: 664px) {
  .getting-started-card {
    width: 154px;
    height: 112px;
    padding: 8px;
  }

  .getting-started-container {
    gap: 15px;
  }

  .doc-title {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 4px;
  }

  .doc-number {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 21px;
  }

  .doc-subtopic {
    font-size: 8px;
    line-height: 13px;
  }

  .tools-card {
    width: 154px;
    height: 71px;
    padding: 8px;
    padding-top: 10px;
  }

  .tools-title {
    font-size: 10px;
    margin-bottom: 5px;
    margin-right: 26px;
    line-height: 15px;
  }

  .tools-paragraph {
    font-size: 7px;
    line-height: 12px;
  }

  .tools-version {
    margin-top: 2px;
    font-size: 6px;
    line-height: 5px;
  }

  .projectCard {
    width: 113px;
    height: 56px;
    border-radius: 5px;
  }

  .projectContainer {
    gap: 14px;
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .getting-started-card {
    width: 402px;
    height: 270px;
    padding: 18px;
    padding-top: 24px;
  }

  .getting-started-container {
    gap: 24px;
  }

  .doc-title {
    font-size: 24px;
    margin-right: 11px;
    margin-bottom: 12px;
    line-height: 36px;
  }

  .doc-number {
    font-size: 36px;
    margin-bottom: 60px;
    line-height: 48px;
    font-weight: 500;
  }

  .doc-subtopic {
    font-size: 19px;
    line-height: 30px;
    font-weight: 500;
  }

  .tools-card {
    width: 402px;
    height: 190px;
    padding: 18px;
    padding-top: 24px;
  }

  .tools-title {
    font-size: 24px;
    margin-bottom: 12px;
    margin-right: 109px;
    line-height: 36px;
  }

  .tools-paragraph {
    font-size: 17px;
    line-height: 29px;
  }

  .tools-version {
    margin-top: 6px;
    font-size: 14px;
    line-height: 24px;
  }

  .projectCard {
    width: 192px;
    height: 96px;
    border-radius: 12px;
  }

  .projectContainer {
    gap: 18px;
  }
}

@media only screen and (max-width: 425px) {
  .getting-started-card {
    width: 362px;
    height: 243px;
    padding: 16px;
    padding-top: 22px;
  }

  .getting-started-container {
    gap: 22px;
  }

  .doc-title {
    font-size: 22px;
    margin-right: 10px;
    margin-bottom: 11px;
    line-height: 32px;
  }

  .doc-number {
    font-size: 32px;
    margin-bottom: 54px;
    line-height: 43px;
  }

  .doc-subtopic {
    font-size: 17px;
    line-height: 27px;
  }

  .tools-card {
    width: 362px;
    height: 171px;
    padding: 16px;
    padding-top: 22px;
  }

  .tools-title {
    font-size: 22px;
    margin-bottom: 11px;
    margin-right: 98px;
    line-height: 32px;
  }

  .tools-paragraph {
    font-size: 15px;
    line-height: 26px;
  }

  .tools-version {
    margin-top: 5px;
    font-size: 13px;
    line-height: 22px;
  }

  .projectCard {
    width: 173px;
    height: 86px;
    border-radius: 11px;
  }

  .projectContainer {
    gap: 16px;
  }
}

@media only screen and (max-width: 375px) {
  .getting-started-card {
    width: 335px;
    height: 225px;
    padding: 15px;
    padding-top: 20px;
  }

  .getting-started-container {
    gap: 20px;
  }

  .doc-title {
    font-size: 20px;
    margin-right: 9px;
    margin-bottom: 10px;
    line-height: 30px;
  }

  .doc-number {
    font-size: 30px;
    margin-bottom: 50px;
    line-height: 40px;
  }

  .doc-subtopic {
    font-size: 16px;
    line-height: 25px;
  }

  .tools-card {
    width: 335px;
    height: 158px;
    padding: 15px;
    padding-top: 20px;
  }

  .tools-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 91px;
    line-height: 30px;
  }

  .tools-paragraph {
    font-size: 14px;
    line-height: 24px;
  }

  .tools-version {
    margin-top: 5px;
    font-size: 12px;
    line-height: 20px;
  }

  .projectCard {
    width: 160px;
    height: 80px;
    border-radius: 15px;
  }

  .projectContainer {
    gap: 15px;
  }
}

@media only screen and (max-width: 359px) {
  .getting-started-card {
    width: 268px;
    height: 180px;
    padding: 12px;
    padding-top: 16px;
  }

  .getting-started-container {
    gap: 16px;
  }

  .doc-title {
    font-size: 16px;
    margin-right: 7px;
    margin-bottom: 8px;
    line-height: 24px;
  }

  .doc-number {
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 32px;
  }

  .doc-subtopic {
    font-size: 13px;
    line-height: 20px;
  }

  .tools-card {
    width: 268px;
    height: 126px;
    padding: 12px;
    padding-top: 16px;
  }

  .tools-title {
    font-size: 16px;
    margin-bottom: 8px;
    margin-right: 73px;
    line-height: 24px;
  }

  .tools-paragraph {
    font-size: 11px;
    line-height: 19px;
  }

  .tools-version {
    margin-top: 4px;
    font-size: 10px;
    line-height: 16px;
  }

  .projectCard {
    width: 128px;
    height: 64px;
    border-radius: 12px;
  }

  .projectContainer {
    gap: 12px;
  }
}
