@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

.getting-started-card {
  width: 440px;
  height: 476px;
  left: 0px;
  top: 0px;
  border: 2px solid #4d4d4d;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 31px;
}

.getting-started-card:hover {
  border: 2px solid #ffffff;
}

.getting-started-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.doc-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  margin-right: 81px;
  margin-bottom: 74px;
}

.doc-number {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.02em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #e6e6e6;
  margin-bottom: 122px;
}

.doc-subtopic {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'DM Mono', monospace;
}

.tools-card {
  width: 440px;
  height: 215px;
  left: 0px;
  top: 337px;
  border: 2px solid #4d4d4d;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 31px;
}

.tools-card:hover {
  border: 2px solid #ffffff;
}

.tools-title {
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 40px;
  color: #ffffff;
  margin-bottom: 10px;
  margin-right: 86px;
}

.tools-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #b3b3b3;
}

.tools-title-flexbox {
  display: flex;
  flex-direction: row;
}

.tools-version {
  margin-top: 8px;
  font-family: 'DM Mono', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.projectCard {
  width: 323px;
  height: 162px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.12));
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0px 5px 15px 0px #0000001f;
}

.projectCard:hover {
  border: 2px solid #ffffff;
  border-radius: 25px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
  margin-right: 10px;
}

a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1439px) {
  .getting-started-card {
    width: 352px;
    height: 390.8px;
    padding: 24.8px;
  }

  .getting-started-container {
    gap: 24px;
    padding: 8px;
  }

  .doc-title {
    font-size: 28px;
    margin-right: 65px;
    margin-bottom: 59.2px;
    line-height: 40px;
  }

  .doc-number {
    font-size: 32px;
    margin-bottom: 97.6px;
    line-height: 40px;
  }

  .doc-subtopic {
    font-size: 16px;
    line-height: 25.5px;
  }

  .tools-card {
    width: 352px;
    height: 172px;
    top: 269.6px;
    padding: 24.8px;
  }

  .tools-title {
    font-size: 23px;
    margin-bottom: 8px;
    margin-right: 68.8px;
    line-height: 32px;
  }

  .tools-paragraph {
    font-size: 14.4px;
    line-height: 24px;
  }

  .tools-version {
    margin-top: 6.4px;
    font-size: 10.4px;
    line-height: 19.2px;
  }

  .projectCard {
    width: 258.6px;
    height: 129.6px;
  }

  .projectContainer {
    gap: 22.4px;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 1151px) {
  .getting-started-card {
    width: 299.2px;
    height: 332.18px;
    padding: 19.84px;
  }

  .getting-started-container {
    gap: 20.4px;
    padding: 6.8px;
  }

  .doc-title {
    font-size: 23.8px;
    margin-right: 55.25px;
    margin-bottom: 50.32px;
    line-height: 34px;
  }

  .doc-number {
    font-size: 27.2px;
    margin-bottom: 82.96px;
    line-height: 34px;
  }

  .doc-subtopic {
    font-size: 13.6px;
    line-height: 21.68px;
  }

  .tools-card {
    width: 299.2px;
    height: 146.2px;
    top: 229.16px;
    padding: 21.08px;
  }

  .tools-title {
    font-size: 19.55px;
    margin-bottom: 6.8px;
    margin-right: 58.48px;
    line-height: 27.2px;
  }

  .tools-paragraph {
    font-size: 12.24px;
    line-height: 20.4px;
  }

  .tools-version {
    margin-top: 5.44px;
    font-size: 8.84px;
    line-height: 16.32px;
  }

  .projectCard {
    width: 219.81px;
    height: 110.16px;
  }

  .projectContainer {
    gap: 19.04px;
    margin-right: 6.8px;
  }
}

@media only screen and (max-width: 375px) {
  .getting-started-card {
    width: 335px;
    height: 219px;
    padding: 15px;
  }

  .getting-started-container {
    gap: 20px;
    padding: 8px;
  }

  .doc-title {
    font-size: 20px;
    margin-right: 24px;
    margin-bottom: 8px;
    line-height: 30px;
  }

  .doc-number {
    font-size: 30px;
    margin-bottom: 39px;
    line-height: 40px;
    font-weight: 500;
  }

  .doc-subtopic {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
  }

  .tools-card {
    width: 335px;
    height: 129px;
    top: 1255px;
    padding: 15px;
  }

  .tools-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 91px;
    line-height: 30px;
  }

  .tools-paragraph {
    font-size: 14px;
    line-height: 24px;
  }

  .tools-version {
    margin-top: 6.4px;
    font-size: 12px;
    line-height: 20px;
  }

  .projectCard {
    width: 160px;
    height: 80px;
  }

  .projectContainer {
    gap: 15px;
  }
}
